<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.fastparkingapp">
    <!-- Permission Android -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:name=".FastParkingApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".viewcontrollers.activities.PaymentActivity"
                android:label="@string/title_activity_payment"
                android:parentActivityName=".viewcontrollers.activities.ReservationActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.fastparkingapp.viewcontrollers.activities.ReservationActivity"/>
        </activity>
        <activity
                android:name=".viewcontrollers.activities.ReservationActivity"
                android:label="@string/title_activity_reservation"
                android:parentActivityName=".viewcontrollers.activities.ParkingActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.fastparkingapp.viewcontrollers.activities.ParkingActivity"/>
        </activity>
        <activity
                android:name=".viewcontrollers.activities.OwnerRegisterActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".viewcontrollers.activities.RegisterActivity"
                android:label="@string/title_activity_register"
                android:parentActivityName=".viewcontrollers.activities.WelcomeActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.fastparkingapp.viewcontrollers.activities.WelcomeActivity"/>
        </activity>
        <activity
                android:name=".viewcontrollers.activities.OnboardingActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".viewcontrollers.activities.LoginActivity"
                android:label="@string/title_activity_login"
                android:parentActivityName=".viewcontrollers.activities.WelcomeActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.fastparkingapp.viewcontrollers.activities.WelcomeActivity"/>
        </activity>
        <activity
                android:name=".viewcontrollers.activities.WelcomeActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".viewcontrollers.activities.ParkingActivity"
                android:label="@string/title_activity_parking"
                android:parentActivityName=".viewcontrollers.activities.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.fastparkingapp.viewcontrollers.activities.MainActivity"/>
        </activity>
        <activity android:name=".viewcontrollers.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> <!-- Maps Android Key -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/mapsKey"/> <!-- Maps Android Key -->
        <!-- Back4app -->
        <meta-data
                android:name="com.parse.SERVER_URL"
                android:value="@string/back4app_server_url"/>
        <meta-data
                android:name="com.parse.APPLICATION_ID"
                android:value="@string/back4app_app_id"/>
        <meta-data
                android:name="com.parse.CLIENT_KEY"
                android:value="@string/back4app_client_key"/>
    </application>

</manifest>